/*General Linked Style Sheet for Full Page*/

*{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14pt;
}

header {
    position: sticky;
    top: 0px; 
    background-color: lightcyan;
    text-align: center;
}

footer {
    background-color: rgb(211,211,211);
    text-align: center;
}

h1 {
    font-size: 3em;
}

h2{
    font-size: 4.75ex;
}

h3{
    font-size: 23px;
}

details>summary{
    font-size: 0.75cm;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/* Mobile */
@media only screen and (max-width: 1024px) {

    image, img {
        width: auto ;
        max-width: 100% ;
        height: auto ;
    }
}